<% mails.each do |msg|
  envelope = msg.attr['ENVELOPE']
  tr_class_name = @unseen_flags.include?(msg.seqno) ? "wmail-unseen-message" : "wmail-seen-message"
%>
<tr class="<%= tr_class_name %>">
  <td class="wmail-sender">
    <% name = envelope.from[0].name.blank? ? envelope.from[0].mailbox : envelope.from[0].name %>
    <%= name.size > 25 ? name[0, 24] + '..' : name %>
  </td>
  <td class="wmail-subject">
  <%
    subject = 'No subject'

    unless envelope.subject.blank?
      subject = envelope.subject.size > 80 ? envelope.subject[0, 80] + '...' : envelope.subject
    end
  %>
    <%= subject %>
  </td>
  <td class="wmail-date">
    <%= format_date(envelope.date) %>
  </td>
</tr>
<% end %>