/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.header {
  background: none repeat scroll 0 0 rgba(30, 30, 30, 0.8);
  left: 0;
  padding: 1% 3%;
  position: fixed;
  top: 0;
  width: 94%;
}

.title {
  color: red;
  display: inline-block;
  font-family: Comic Sans MS;
  font-size: 36px;
  font-weight: bold;
  width: 30%;
}

.title i {
  color: #FFF;
}

.nav {
  display: inline-block;
  width: 69%;
  text-align: right;
}

.nav ul {
  list-style: none;
  margin: 0;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: #FCFCFC;
  text-decoration: none;
  padding: 5px;
}

.nav ul li a:hover {
  border: 1px solid #C0C0C0;
}

.content {
  margin-top: 90px;
}