/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.login-block {
  border: 1px solid;
  height: 199px;
  margin: 12% auto;
  width: 460px;
}

.block-header {
  border-bottom: 1px solid;
  padding: 2%;
  width: 96%;
}

.block-body {
  padding: 2%;
}

.fields {
  margin-bottom: 10px;
}

.actions, .additional-links {
  margin: 10px 0;
}