<div class="wmail-mailbox-status"><%= @status['UNSEEN'].to_s + 'of' + @status['MESSAGES'].to_s %></div>
<div class="wmail-mailbox-list">
  
</div>

<div class="wmail-mailbox wmail-inbox">
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @inbox.each do |msg|
        envelope = msg.attr['ENVELOPE']
      %>
      <tr>
        <td class="wmail-sender">
          <%= envelope.from[0].name %>
        </td>
        <td class="wmail-subject">
          <%= envelope.subject %>
        </td>
        <td class="wmail-date">
          <%= envelope.date %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>