<div>
  <%
    if @mail.multipart?
      if @mail.html_part
  %>
        <%= @mail.html_part.body.decoded.to_s.html_safe %>
  <%
      elsif @mail.text_part
  %>
        <%= @mail.text_part.body.decoded.to_s %>

  <%  end
    else
  %>
    <% if  @mail.content_type.include?("text/html") %>
      <%= @mail.body.decoded.to_s.html_safe %>
    <% else %>
      <%= @mail.body.decoded.to_s %>
    <% end %>
      
  <% end %>
</div>