<!DOCTYPE html>
<html>
<head>
  <title>Wmail</title>
  <%= stylesheet_link_tag    "wmail/application" %>
  <%= javascript_include_tag "wmail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
