/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.wmail-mailbox-list {
  width: 20%;
  display: inline-block;
}

.wmail-mailbox {
  width: 78%;
  display: inline-block;
}

.wmail-mailbox table th{
  border-bottom: 2px solid #000;
}

.wmail-mailbox table td{
  border-bottom: 1px solid #999;
}

.wmail-sender, .wmail-date {
  width: 20%;
}

.wmail-subject {
  width: 55%;
}

.wmail-mailbox-status {
  text-align: right;
  height: 50px;
  margin-right: 20px;
}

.wmail-mails-prev, .wmail-mails-next {
  background: none repeat scroll 0 0 #BBBBBB;
  border: 0.5px solid #999999;
  color: #222222;
  display: inline-block;
  height: 20px;
  text-align: center;
  text-decoration: none;
  width: 20px;
}